<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Achferdi | dicoding assignment</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <header>
      <div id="jumbotron">
        <h1>Hi everyone, Ferdi's here!</h1>
        <p>Just a Man Who Love Coding and Improving His Skill.</p>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li>
            <a href="https://www.instagram.com/achferdi/" target="_blank"
              >Instagram</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/achmad-ferdiansyah-25b217220/"
              target="_blank"
              >Linkedin</a
            >
          </li>
          <li>
            <a href="https://github.com/Ferdi761" target="_blank">Github</a>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      <aside>
        <img src="img/achferdi-pict.jpg" alt="Achmad Ferdiansyah" />
        <h3>achmad ferdiansyah</h3>
        <p>
          Undergraduated Informatics Engineering student at Ten Nopember
          Isntitute of Technology
        </p>
      </aside>
      <div class="content">
        <article>
          <h2>
            Build a Simple Client-Server Using Python "serversocket" Module
          </h2>
          <hr />
          <p>
            This is my simple project assignment for Network Programming at
            Informatics Engineering. this assignment created by myself and two
            of my firends. This project made with serverscoket module. It can
            only do one specific things like downloading files from client to
            server. The workflow is the server create socket and open the
            connection for waiting the client. Then client create server's
            socket and connect to server. After connected to a server, client
            request a file to download. Then server accepts it and searching for
            files, if found then server send loop chunk of data to client. Then
            client receive it and keep the file in it folder.
          </p>
        </article>
        <article>
          <h2>Python History in a Nutshell</h2>
          <hr />
          <p>
            Python was created by Guido van Rossum, and first released on
            February 20, 1991. While you may know the python as a large snake,
            the name of the Python programming language comes from an old BBC
            television comedy sketch series called Monty Python’s Flying Circus.
            One of the amazing features of Python is the fact that it is
            actually one person’s work. Usually, new programming languages are
            developed and published by large companies employing lots of
            professionals, and due to copyright rules, it is very hard to name
            any of the people involved in the project. Python is an exception.
            Of course, Guido van Rossum did not develop and evolve all the
            Python components himself. The speed with which Python has spread
            around the world is a result of the continuous work of thousands
            (very often anonymous) programmers, testers, users (many of them
            aren’t IT specialists) and enthusiasts, but it must be said that the
            very first idea (the seed from which Python sprouted) came to one
            head – Guido’s. Python is maintained by the Python Software
            Foundation, a non-profit membership organization and a community
            devoted to developing, improving, expanding, and popularizing the
            Python language and its environment.
          </p>
        </article>
        <article>
          <h2>Build a Simple Website Using Wordpress</h2>
          <hr />
          <p>
            You can build a website even you haven't coding skill. Just create
            account for wordpress and activate local web server such as apache,
            nginx, etc. Then open the wordpress and login. No need to code, just
            drag and drop the content that we want. This is useful for everyone
            who wants to build a website with content management system but
            doesn't want to code from scratch.
          </p>
        </article>
      </div>
    </main>
    <footer>Copyrights &#169; 2023 | Achmad Ferdiansyah</footer>
  </body>
</html>
