@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&family=Tajawal&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    font-family: 'Tajawal', sans-serif;
}

body {
    margin: auto;
    background-color: #E7F6F2;
}

header {
    margin: 0px auto;
    display: inline;
}

#jumbotron {
    background-color: #2C3333;
    text-align: center;
    padding: 80px 0px 70px;
}

#jumbotron > h1 {
    letter-spacing: .2rem;
    text-transform: uppercase;
    margin: 0px;
    color: #ECB365;
    font-size: 42px;
}

#jumbotron > p {
    margin-top: 5px;
    font-size: larger;
    color: blanchedalmond;
}

nav {
    background-color: #395B64;
    padding: 3px;
    position: sticky;
    top: 0;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 15px;
}

nav li {
    list-style-type: none;
}

nav a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
}

nav a:hover {
    color: #ECB365;
}

main {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    align-content: center;
    column-gap: 5px;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    main {
        flex-wrap: wrap;
    }
}

aside {
    margin: 30px;
    padding: 15px;
    text-align: center;
    border: 2px hidden;
    border-radius: 20px;
    box-shadow: 5px 5px 8px #2C3333;
}

aside > img {
    border-radius: 50%;
    width: 160px;
}

aside > h3 {
    text-transform: capitalize;
}

article {
    background-color: #A5C9CA;
    border: 2px solid #2C3333;
    border-radius: 20px;
    margin: 30px;
    padding: 5px 20px;
}

footer {
    text-align: center;
    color: #ECB365;
    background-color: #2C3333;
    font-weight: 700;
    padding: 20px;
}
